.navbar {
  height: 4rem;
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  color: white;
  background-color: rgb(105, 118, 134);
  padding-right: 1.5rem;
  p {
    margin: 0 0 0px;
  }

  .share,
  .save {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    gap: 0.6rem;
  }

  .user {
    .cat {
      color: rgb(203, 203, 203);
      font-size: 1.1rem;
    }
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1rem;
    img {
      aspect-ratio: 1/1;
      width: 3rem;
      border-radius: 50%;
    }

    .user-disc {
      height: 3.5rem;
      display: flex;
      align-items: self-start;
      justify-content: center;
      flex-direction: column;
      gap: 0.3rem;

      div {
        cursor: pointer;
      }
    }
  }

  .switch {
    display: block;
    position: relative;
    margin: auto;
    width: 70px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
  }
  .switch input {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 0;
    height: 0;
  }
  .switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #99b4df;
    border-radius: 20px;
  }
  .switch input:checked + span {
    background: #346abf;
  }
  .switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
  }
  .switch input:checked + span:before {
    left: 34px;
  }
}
.flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
