<!-- {{ towers | json }} -->
<div class="islend">
  <div class="filter">
    <button mat-button [matMenuTriggerFor]="menu">
      {{ selectedTower.name }}
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        *ngFor="let item of towers"
        (click)="clickMenuItem(item)"
      >
        <span> {{ item.name }}</span>
      </button>
    </mat-menu>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
        (dateChange)="changeDate($event)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <hr />

  <div class="redings">
    <app-reading
      [unit]="'C'"
      [value]="lastData[0].envTemp"
      [beforeValue]="lastData[1].envTemp"
    ></app-reading>
    <app-reading
      [unit]="'%'"
      [value]="lastData[0].envHumidity"
      [beforeValue]="lastData[1].envHumidity"
    ></app-reading>
    <app-reading
      [unit]="'C'"
      [value]="lastData[0].insideTemp"
      [beforeValue]="lastData[1].insideTemp"
    ></app-reading>
    <app-reading
      [unit]="'%'"
      [value]="lastData[0].insideHumidity"
      [beforeValue]="lastData[1].insideHumidity"
    ></app-reading>
    <app-reading
      [unit]="'U'"
      [value]="lastData[0].uvLight"
      [beforeValue]="lastData[1].uvLight"
    ></app-reading>
  </div>
</div>
<div class="islend first">
  <div class="filter">
    <button mat-raised-button color="primary" (click)="getData()">
      Change Tower
    </button>
    <h2>sensors line chart</h2>
    <mat-form-field appearance="fill">
      <mat-label>Readins</mat-label>
      <mat-select [formControl]="dataToShow" multiple>
        <mat-option *ngFor="let list of dataList" [value]="list">{{
          list
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-line-chart></app-line-chart>
</div>
<!-- {{ lastData | json }} -->
