<div class="dilog">
  <h1 mat-dialog-title>Edit your tower params</h1>

  <div class="main">
    <div>
      <div class="edit-profile">
        <mat-card-content class="mat-card-content">
          <div>
            <image-cropper
              class="img-cropper"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              [resizeToWidth]="358"
              [onlyScaleDown]="true"
              [imageFile]="image"
              [roundCropper]="false"
              [alignImage]="'center'"
              [style.display]="showCropper ? null : 'none'"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              (cropperReady)="cropperReady($event)"
              (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
          </div>

          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions class="flex">
          <button mat-raised-button>
            <label class="coustom-file-upload">
              <div class="flex">
                <mat-icon class="icon-display"> border_color</mat-icon>
                <div>Edit</div>
              </div>
              <input type="file" (change)="fileChangeEvent($event)" />
            </label>
          </button>

          <button mat-raised-button color="" (click)="saveImage()">
            <mat-icon>save_alt</mat-icon>
            Save
          </button>

          <button mat-raised-button color="warn">
            <mat-icon>delete_forever</mat-icon>
            Warn
          </button>
        </mat-card-actions>
      </div>
    </div>

    <div>
      <form [formGroup]="myForm" class="form">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="" formControlName="name" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Content</mat-label>
          <textarea
            matInput
            placeholder=""
            formControlName="content"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Size</mat-label>
          <input matInput placeholder="" formControlName="size" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pump Intervals</mat-label>
          <mat-select [(value)]="selectedValue" name="food">
            <mat-option
              *ngFor="let food of pumpIntervalsList"
              [value]="food.value"
              (click)="enableSubmit()"
            >
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button [disabled]="submitIsDisabled" (click)="submit()">
      Save Changes
    </button>

    <button mat-raised-button (click)="onNoClick()">Close</button>
  </div>
</div>
