.sidebar{

    width: 18rem;
    border-right: 2px solid gray;
    height: 100%;

.item{
    display: flex;
    align-items: center;
justify-content: start;
    gap : 1rem;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
}

}
h4{
    margin: 0;
    font-size: 1.5rem;
}
hr{
    margin-left: .5rem;
    margin-right: .5rem;
}