<div class="sidebar">

<div class="item">
    <fa-icon style="font-size: 35px;" [icon]="faChartLine"></fa-icon> 
    <h4>Dashboard</h4>
</div>
<hr>
<div class="item">
    <fa-icon style="font-size: 35px;" [icon]="faWatchmanMonitoring"></fa-icon> 
    <h4>Monitoring</h4>
</div>
<hr>
<div class="item">
    <fa-icon style="font-size: 35px;" [icon]="faMagnifyingGlass"></fa-icon> 
    <h4>Queries</h4>
</div>
<hr>
<div class="item">
    <fa-icon style="font-size: 35px;" [icon]="faExclamationCircle"></fa-icon> 
    <h4>Emergemcies</h4>
</div>
<hr>
<div class="item">
    <fa-icon style="font-size: 35px;" [icon]="faUser"></fa-icon> 
    <h4>Users</h4>
</div>



</div>