
.navbar-container{
    display: flex;
    align-items: stretch;
    justify-content: flex-start;


    .icons-continer{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        .navbar-icon{
            font-size: 3rem;
            padding: .5rem;

        }

    }


    .sub-navbar-container{
        height: 100vh;
        border: 2px solid red;
    }

}