<div class="navbar-container">
<div class="icons-continer">
  <div (click)="drawer.toggle()" >
    <fa-icon color="primary" class="navbar-icon" [icon]="faHouse"></fa-icon>
  </div>
  <div (click)="drawer.toggle()" >
    <fa-icon color="primary" class="navbar-icon" [icon]="faHouse"></fa-icon>
  </div>
  <div (click)="drawer.toggle()" >
    <fa-icon color="primary" class="navbar-icon" [icon]="faUser"></fa-icon>
  </div>

</div>
<mat-drawer-container class="sub-navbar-container" autosize>
    <mat-drawer #drawer class="sub-navbar" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  
    
  
</mat-drawer-container>
  
</div>