<div class="reading">
  <div
    class="chip"
    [ngStyle]="{ 'background-color': increasedValue >= 0 ? upClr : downClr }"
  >
    <fa-icon style="font-size: 0.9rem" [icon]="icon()"></fa-icon>
    <span> {{ increasedValue }}%</span>
  </div>
  <div class="spinner">
    <div class="container">
      <div class="circular-progress" [ngStyle]="style">
        <span class="progress-value">
          <p class="disc">inside humidity</p>
          <p [ngStyle]="{ color: clr }">{{ value }} {{ unit }}</p>
        </span>
      </div>
    </div>
  </div>
</div>
