$theme-primary: (
 50: rgb(105, 118, 134),
 100: rgb(105, 118, 134),
 200: rgb(105, 118, 134),
 300: rgb(105, 118, 134),
 400: rgb(105, 118, 134),
 500: rgb(105, 118, 134),
 700: rgb(105, 118, 134),
 // ... continues to 900
 contrast: (
   50: rgb(151, 158, 176),
   100: rgb(151, 158, 176),
   200: rgb(151, 158, 176),
   300: white,
   // ... continues to 900
 )
);
$theme-accent: (
 50: rgb(54, 60, 68),
 100: rgb(54, 60, 68),
 200: rgb(54, 60, 68),
 300: rgb(54, 60, 68),
 400: rgb(54, 60, 68),
 500: rgb(54, 60, 68),
 700: rgb(54, 60, 68),
 // ... continues to 900
 contrast: (
   50: rgba(54, 60, 68, 0.87),
   100: rgba(54, 60, 68, 0.87),
   200: rgba(54, 60, 68, 0.87),
   300: white,
   // ... continues to 900
 )
);
$theme-warn: (
 50: rgb(121, 22, 22),
 100: rgb(121, 22, 22),
 200: rgb(121, 22, 22),
 300: rgb(121, 22, 22),
 400: rgb(121, 22, 22),
 500: rgb(121, 22, 22),
 700: rgb(121, 22, 22),
 // ... continues to 900
 contrast: (
   50: rgba(121, 22, 22, 0.87),
   100: rgba(121, 22, 22, 0.87),
   200: rgba(121, 22, 22, 0.87),
   300: white,
   // ... continues to 900
 )
);
