$white: #fff;
$black: #000;
$dark: #1e1e1e;
$gray: rgba(1, 1, 1, 0.6);
$lite: rgba(255, 255, 255, 0.6);
$primary: #002347;
$secondary: #000000;
$main: rgb(14 62 15);
$main-light: rgb(124 181 71);
//@use "src/assets/themes" as *;
