.mdc-line-ripple.mdc-line-ripple--deactivating.ng-star-inserted {
  display: none;
}
.mdc-text-field {
  border-bottom-right-radius: var(--mdc-shape-small, 4px) !important;
  border-bottom-left-radius: var(--mdc-shape-small, 4px) !important;
}
