<div class="div">
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Update your profile picture</mat-card-title>
      <mat-card-subtitle>Change your Avatar</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        <image-cropper
          class="img-cropper"
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="4 / 4"
          [resizeToWidth]="358"
          [onlyScaleDown]="true"
          [imageFile]="avatar"
          [roundCropper]="false"
          [transform]="transform"
          [alignImage]="'center'"
          [roundCropper]="true"
          [style.display]="showCropper ? null : 'none'"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady($event)"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>

      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="flex">
      <button mat-raised-button>
        <label class="coustom-file-upload">
          <div class="flex">
            <mat-icon class="icon-display"> border_color</mat-icon>
            <div>Edit</div>
          </div>
          <input type="file" (change)="fileChangeEvent($event)" />
        </label>
      </button>

      <button mat-raised-button (click)="saveImage()">
        <div class="flex">
          <mat-icon class="icon-display">save</mat-icon>
          <div>Save</div>
        </div>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="uploading"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <!-- <img [src]="croppedImage" alt="" /> -->
</div>
