@import "./palette.scss";

$my-theme-primary: mat-palette($theme-primary, 500, 200, 700);
$my-theme-accent: mat-palette($theme-accent);
$my-theme-warn: mat-palette($mat-deep-orange, A200);

// $my-theme-primary: mat-palette($theme-primary);
// $my-theme-accent: mat-palette($theme-accent);
// $my-theme-warn: mat-palette($theme-warn);

$light-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);

// ====================================
// Make sure to have a dark background
// Dropdowns will blend in with light
// backgrounds.
// ====================================
$dark-theme: mat-dark-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);
